:root{
    --green:#00FF00;
    --white:#FFFFFF;
    --black:#000000;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}
.light-theme{
    --bg:var(--green);
    --fontColor:var(--black);
    --btnBg: var(--black);
  --btnFontColor: var(--white);

}
.dark-theme{
    --bg:var(--black);
    --fontColor:var(--green);
    --btnBg: var(--white);
  --btnFontColor: var(--black);

}
.btn{
    position:absolute;
    top:20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color:var(--btnFontColor);
    background-color: var(--btnBg);
}